.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.converter {
    background-color: orange;
    height: 100vh;
}

.gradient {
    height: 100vh;
    h5 {
        color: #bfbfbf;
    }
    label {
        margin: 0;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    li {
        margin-right: 20px;
        display: inline;
    }
    input {
        margin: 10px auto;
        border: none;
        background: none;
        width: 20vh;
        height: 5vh;
    }
    .gradientShow {
        height: 60vh;
        width: 45vh;
        border-radius: 10%;
        background: linear-gradient(#b36582, #f6b73c);
    }
}